#include <windows.h>
#include <commctrl.h>
#include "DialogsRes.h"

IDD_MITHENZIP_ADD DIALOGEX 0, 0, 430, 274
STYLE DS_CENTER | DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Add to Archive - MithenZip"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Archive:",-1,7,14,60,8
    EDITTEXT        IDE_ADD_ARCHIVE,82,12,120,12,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDB_ADD_BROWSE,207,12,25,12

    LTEXT           "Archive format:",-1,7,34,70,8
    COMBOBOX        IDC_ADD_FORMAT,82,32,150,90,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Compression level:",-1,7,54,70,8
    COMBOBOX        IDC_ADD_LEVEL,82,52,150,90,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Compression method:",-1,7,74,70,8
    COMBOBOX        IDC_ADD_METHOD,82,72,150,90,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Dictionary size:",-1,7,94,70,8
    COMBOBOX        IDC_ADD_DICTIONARY,82,92,150,90,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Word size:",-1,7,114,70,8
    COMBOBOX        IDC_ADD_WORDSIZE,82,112,150,90,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Solid Block size:",-1,7,134,70,8
    COMBOBOX        IDC_ADD_SOLID,82,132,150,90,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Number of CPU threads:",-1,7,154,70,8
    COMBOBOX        IDC_ADD_THREADS,82,152,150,90,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Update mode:",-1,7,174,70,8
    COMBOBOX        IDC_ADD_UPDATEMODE,82,172,150,90,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Path mode:",-1,7,194,70,8
    COMBOBOX        IDC_ADD_PATHMODE,82,192,150,90,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Parameters:",-1,7,214,70,8
    EDITTEXT        IDE_ADD_PARAMS,82,212,150,12,ES_AUTOHSCROLL

    GROUPBOX        "Encryption",-1,240,8,183,74
    LTEXT           "Password:",-1,248,22,40,8
    EDITTEXT        IDE_ADD_PASSWORD,290,20,125,12,ES_PASSWORD | ES_AUTOHSCROLL
    LTEXT           "Reenter:",-1,248,38,40,8
    EDITTEXT        IDE_ADD_PASSWORD2,290,36,125,12,ES_PASSWORD | ES_AUTOHSCROLL
    CONTROL         "Show Password",IDX_ADD_SHOWPSW,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,290,52,110,10

    LTEXT           "Encryption method:",-1,240,90,70,8
    COMBOBOX        IDC_ADD_ENCMETHOD,240,100,183,90,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Encrypt file names",IDX_ADD_ENCFILES,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,240,116,150,10

    DEFPUSHBUTTON   "OK",IDOK,300,252,60,14
    PUSHBUTTON      "Cancel",IDCANCEL,366,252,57,14
END

IDD_MITHENZIP_EXTRACT DIALOGEX 0, 0, 320, 164
STYLE DS_CENTER | DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Extract - MithenZip"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Extract to:",-1,7,14,50,8
    EDITTEXT        IDE_EXTRACT_PATH,60,12,200,12,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDB_EXTRACT_BROWSE,264,12,49,12

    LTEXT           "Overwrite mode:",-1,7,36,50,8
    COMBOBOX        IDC_EXTRACT_OVERWRITE,60,34,253,90,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL         "Eliminate duplication of root folder",IDX_EXTRACT_ELIMDUP,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,54,250,10

    GROUPBOX        "Password",-1,7,84,306,48
    EDITTEXT        IDE_EXTRACT_PASSWORD,14,98,190,12,ES_PASSWORD | ES_AUTOHSCROLL
    CONTROL         "Show Password",IDX_EXTRACT_SHOWPSW,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,212,99,95,10

    DEFPUSHBUTTON   "OK",IDOK,200,142,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,256,142,57,14
END

IDD_MITHENZIP_PROGRESS DIALOGEX 0, 0, 240, 74
STYLE DS_CENTER | DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "MithenZip"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "",IDC_PROGRESS_TEXT,7,12,226,10
    CONTROL         "",IDC_PROGRESS_BAR,"msctls_progress32",PBS_SMOOTH | WS_BORDER,7,28,226,14
    PUSHBUTTON      "Cancel",IDCANCEL,95,50,50,14
END
IDD_MITHENZIP_PASSWORD DIALOGEX 0, 0, 240, 86
STYLE DS_CENTER | DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Password - MithenZip"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "This archive is encrypted. Enter the password:",-1,7,10,226,16
    EDITTEXT        IDE_PSW_EDIT,7,30,226,12,ES_PASSWORD | ES_AUTOHSCROLL
    CONTROL         "Show Password",IDX_PSW_SHOW,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,46,90,10
    DEFPUSHBUTTON   "OK",IDOK,130,66,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,184,66,49,14
END
